/Colecciones/Ejercicio 1/Razas/nbproject/private/
/Colecciones/Ejercicio 1/Razas/build/
/Colecciones/Ejercicio 1/ejercicio3/nbproject/private/
/Colecciones/Ejercicio 1/ejercicio3/build/
/Colecciones/Ejercicio 1/ejercio4/nbproject/private/
/Colecciones/ejercio4/build/